{% extends 'base.html'%}
<!-- <!DOCTYPE html> -->
<!-- <html> -->

<head>
    <meta charset="utf-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Welcome to Memorable Adventure Website </title>
    {% endif %}
</head>
{% block content %}

<div class="container">
    <h1> {{ message }} </h1>

    <h1>Contacts</h1>
    <p>How to Reach Us</p>
    <ul>
        <li>Contact us +254 707 398 965</li>
        <li>Email Address :ivonnahbonswuh@gmail.com</li>
        <li>Location :Ngong Hills along Ngong Rd</li>
    </ul>
    