{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
<!-- <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title>Welcome to  A FANTASY EXPERIENCE BLOG</title>
    {% endif %}
</head> -->
{% block content %}

<div class="container">
    <h1> {{ message }} </h1>
    <div class="row">
        <div class="col-md-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRn6eJCxovx0mYhWapLgmjBuw6_R8hACmOqH0wIIrJzYTd5LPq"alt="photo">
        </div>
        <div class="col-md-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOQJdSsgmb7QCONODtREURtm76mdhSOWp7szPxKNArITjHQCnCWw" alt="photo">
        </div>
        <div class="col-md-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXRj0AH8sMn6_clFMQazetJyN3jc99PotMz5Scm5cqGxrr3ogu4Qa36az" alt="photo">
        </div>
    </div>
</div>

    <div class="text" style="text-align:center">
        <h1>About Us</h1>
        <p>We are an organisation that help to encourage people believe in their dreams..we also ensures that everyone
            gets an opportunity to express their views and opinions for potential investors to invest in the ideas that
            they are interested in.</p>

        <br><br>

    </div>
    
    <br><br>
    <p><strong>Flying</strong><br>Learning how to fly balloon rides,helicopter tours</p>
    {% for blog in interview_data%}
    <p>{{blog.description}}</p>
    <a href="{{url_for('main.comment',adventure_id = adventure.id)}}"><button class="btn btn-outline-info">Add
            Latest Info</button></a>
    <a href="{{url_for('main.view_comments',adventure_id = adventure.id)}}"><button class="btn btn-outline-info">View
            Comments</button></a>
    {% endfor %}
    {% for comment in comments%}
    <p>{{blog.description}}</p>
    {% endfor %}
    <p><strong>Glamping</strong><br>Overnight stays in luxury safari tents,teepees</p>
    {% for blog in interview_data%}
    <p>{{blog.description}}</p>
    <a href="{{url_for('main.comment',adventure_id = adventure.id)}}"><button class="btn btn-outline-info">Add
            Latest Info</button></a>
    <a href="{{url_for('main.view_comments',adventure_id = adventure.id)}}"><button class="btn btn-outline-info">View
            Comments</button></a>
    {% endfor %}
    {% for comment in comments%}
    <p>{{blog.description}}</p>
    {% endfor %}
    <p><strong>Tours</strong><br>Food tours,bike tours,road trips and picnics</p>
    {% for blog in interview_data%}
    <p>{{blog.description}}</p>
    <a href="{{url_for('main.comment',adventure_id = adventure.id)}}"><button class="btn btn-outline-info">Add
            Latest Info</button></a>
    <a href="{{url_for('main.view_comments',adventure_id = adventure.id)}}"><button class="btn btn-outline-info">View
            Comments</button></a>
    {% endfor %}
    {% for comment in comments%}
    <p>{{blog.description}}</p>
    {% endfor %}
</div>

{% endblock %}